/* =========================
RESET & BASE STYLING
========================= */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
background-color: #0f0f0f;
color: #fff;
}

/* =========================
HEADINGS & TEXT ANIMATION
========================= */
h2{
display: flex;
align-items: center;
gap: 8px;
text-align: left;
}

h2 span {
position: relative;
display: inline-block;
color: red;
overflow: hidden;
height: 1.25em;
}

h2 span span {
display: block;
animation: anim 10s infinite ease;
}

@keyframes anim {
0% { transform: translateY(0%); }
20% { transform: translateY(-100%); }
40% { transform: translateY(-200%); }
60% { tansform: translateY(-300%); }
80% { transform: translateY(-400%); }
100% { transform: translateY(0%); }
}

/* =========================
NAVBAR
========================= */
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 80px;
background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(10px);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
position: fixed;
width: 100%;
top: 0;
z-index: 1000;
}

h1 {
font-size: 30px;
letter-spacing: 0px;
color: #fff;
}

nav a {
color: #ccc;
text-decoration: none;
margin: 0 15px;
position: relative;
font-weight: 500;
}

nav a span {
position: relative;
}

nav a::after {
content: "";
position: absolute;
bottom: -4px;
left: 0;
width: 0%;
height: 2px;
background: linear-gradient(90deg, #fff, #777);
transition: width 0.3s ease;
}

nav a:hover::after {
width: 100%;
}

nav a:hover {
color: #fff;
}

/* =========================
HERO SECTION
========================= */
.hero {
display: flex;
justify-content: center;
align-items: center;
padding: 160px 80px 100px;
background: linear-gradient(145deg, #0a0a0a, #1b1b1b);
flex-wrap: wrap;
}

.hero img {
width: 370px;
height: 370px;
border-radius: 50%;
object-fit: cover;
margin-right: 80px;
border: 3px solid #555;
box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
transition: all 0.4s ease;
}

.hero img:hover {
transform: rotateY(0deg) rotateX(0deg) scale(1.05);
border-color: rgb(248, 6, 6);
box-shadow:
    0 0 30px rgba(146, 150, 255, 0.5),
    0 0 60px rgba(255, 255, 255, 0.2),
    inset 0 0 25px rgba(255, 255, 255, 0.1);
background: rgba(255, 255, 255, 0.1);
}

.hero-text {
max-width: 600px;
}

.hero-text h2 {
font-size: 40px;
margin-bottom: 15px;
color: #fff;
}

.hero-text p {
font-size: 18px;
line-height: 1.7;
color: #aaa;
}